<phpunit
	bootstrap="./bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	beStrictAboutTestsThatDoNotTestAnything="false"
	executionOrder="random"
	>
	<testsuites>
		<testsuite name="default">
			<directory suffix="-test.php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">../../</directory>
			<exclude>
				<file>../../remove-noreferrer.php</file>
				<directory>../../tests</directory>
				<directory>../../vendor</directory>
				<directory>../../assets</directory>
				<directory>../../svn</directory>
				<directory>../../rulesets</directory>
				<directory>../../phpcs</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
