<phpunit
	bootstrap="./bootstrap.php"
	backupGlobals="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	beStrictAboutTestsThatDoNotTestAnything="false"
	beStrictAboutCoversAnnotation="true"
	forceCoversAnnotation="true"
	executionOrder="random"
	>
	<testsuites>
		<testsuite name="default">
			<directory suffix="-test.php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../../</directory>
			<exclude>
				<directory suffix="index.php">../../</directory>
				<directory>../../assets</directory>
				<directory>../../build</directory>
				<directory>../../inc</directory>
				<directory>../../phpcs</directory>
				<directory>../../rulesets</directory>
				<directory>../../svn</directory>
				<directory>../../tests</directory>
				<directory>../../vendor</directory>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<log
			type="coverage-html"
			target="../../build/coverage"
			lowUpperBound="50"
			highLowerBound="90"
		/>
	</logging>
</phpunit>
